---
import SocialMediaBox from "./SocialMediaBox.astro"
import "./Footer.css"
---
<!-- only the lowest footer is considered -->
<footer>
    <div class="SocialMedia">
        <p> Follow FCBarcelona on social media</p>
        <ul class="SocialMedia_BoxList">
            <li id="Facebook">
                <SocialMediaBox title="FCBarcelona" subtitle="@FCBarcelona" logo="https://assets.stickpng.com/images/60fea6773d624000048712b5.png" bckgrnd_color="#3b5998" />
            </li>
        </ul>
    </div>
    <div class="SiteMap">

    </div>
    <div class="Corporate">

    </div>
</footer>