<header>
<div id="Shield">
    <img src="https://assets.stickpng.com/images/584a9b3bb080d7616d298777.png" alt="FCB Shield">
</div>
<div id="FirstTeam">
    FIRST TEAM &#9662;
</div>
<div id="Club">
    CLUB &#9662;
</div>
<div id="BarçaTeams">
    BARÇA TEAMS &#9662;
</div>
</header>

<style>
    header {
        border: 1px solid red;
        background-color: rgb(7, 7, 99);
        display: flex;
        flex-direction: row;
        color: whitesmoke;
    }
    #Shield img {
        height: 3em;
    }
</style>