---
import "../components/Header.css"
---
<header>
    <div class="header_top">
        <div id="Login">
            <div id="Login_icon">
                <img src="https://flaticons.net/icon.php?slug_category=application&slug_icon=user-login" alt="Login Icon">
            </div>
            <p>Login</p>

        </div>
        <div id="Register">
            <div id="Register_logo">
                <img src="https://p.kindpng.com/picc/s/83-831275_fc-barcelona-white-logo-png-transparent-png.png" alt="Register Logo">
            </div>
            <p>Register</p>
        </div>
        <div id="Language">
            <p>EN</p>
        </div>
    </div>
    <div class="header_midd">
        <div class="Logo">
            <a href="/">
            <img
                src="https://assets.stickpng.com/images/584a9b3bb080d7616d298777.png"
                alt="FCB Logo"
                
            />
            </a>
        </div>
        <div class="Left_nav">
            <div class="SubMenu" id="FirstTeam">
                <p>FIRST TEAM &#9662;</p>
            </div>
            <div class="SubMenu" id="Club">
                <p>CLUB &#9662;</p>
            </div>
            <div class="SubMenu" id="BarçaTeams">
                <p>BARÇA TEAMS &#9662;</p>
            </div>
        </div>
        <div class="Right_nav">
            <div class="SubMenu" id="TicketsMuseum">
                <p>&#127915; TICKETS &amp; MUSEUM &#9662;</p>
            </div>
            <div class="SubMenu" id="Shop">
                <p><a href="https://store.fcbarcelona.com/en/?ext=OCM_420&utm_source=WebBarca&utm_medium=Menu&utm_campaign=MenuWebBarca_ORG_BLM_HOME_OCM_webBarca_TXT_WW_EN&_gl=1*1y2p6vi*_ga*MTY1ODg1MjMwMy4xNjg1MjczNDky*_ga_XCQ7B6K8TL*MTY4NTI3OTMyMi4yLjAuMTY4NTI3OTMyMi4wLjAuMA..&_ga=2.221796376.1033407983.1685273492-1658852303.1685273492">&#128085; SHOP&#8663;</a></p>
            </div>
            <div class="SubMenu" id="Culers">
                <p>&#9917; CULERS &#9662;</p>
            </div>
        </div>
        <div class="Search">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/VisualEditor_-_Icon_-_Search-big_-_white.svg/1200px-VisualEditor_-_Icon_-_Search-big_-_white.svg.png" alt="Search Icon">
        </div>
    </div>
</header>

