
    header {
        border: 1px solid transparent;
        color: whitesmoke;
        font-family: sans-serif;
        font-weight: 1000;
        --padding-nav-elements: 1em;
        display: flex;
        flex-direction: column;
     }
    .header_top {
        background-color: #0a0927;
        height: 3em;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        
        
    }
    #Login {
        margin-left: auto;
        padding-right: var(--padding-nav-elements);
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #Login_icon {
        border: 1px solid transparent;
        border-radius: 100%;
        background-color: #154284;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
    }
    #Login_icon img{
        height: 15px;

    }
    #Login p{
        padding-left: 0.7em;
        font-size: 70%;
    }
    #Login:hover {
        text-decoration: underline;
    }
    #Register {
        background: linear-gradient(90deg,#8c1a17,#cd122d);
        border-radius: 0.2em;
        margin-right: var(--padding-nav-elements);
        margin-left: var(--padding-nav-elements);
        padding-left: 0.4em;
        padding-right: 0.4em;
        height: 4em;
        width: 10em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 60%;
    }
    #Register_logo {
        padding-top: 0.4em;
        padding-right: 0.5em;
    }
    #Register_logo img{
        width: 20px;
    }

    #Language {
        border: 1px solid transparent;
        border-radius: 100%;
        background-color: hsla(0,0%,100%,.12);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        font-size: 80%;
        margin-left: var(--padding-nav-elements);
        margin-right: var(--padding-nav-elements);
    }
    #FCBSites {
        border: 1px solid transparent;
        border-radius: 100%;
        background-color: hsla(0,0%,100%,.12);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        font-size: 35%;
        margin-left: var(--padding-nav-elements);
        margin-right: 5em;

    }
    #FCBSites img{
        height:15px;
    }

    .header_midd {
        margin-bottom: auto;
        background-color: #181733;
        display: flex;
        flex-direction: row;
        font-size: 80%;
        align-items: center;
        height:5em;
    
    }

    .Logo {
        margin-left: 1em;
    }
    .Logo img {
        height: 80px;
    }
    .SubMenu{
        padding-left: var(--padding-nav-elements);
        padding-right: var(--padding-nav-elements);
        transition: 1s ease;
    }
    .Left_nav {
        color: #ffff;
        display: flex;
        flex-direction: row;
        padding-left: 0.7em;

    }
    .Left_nav:hover > *{
        color: rgba(255, 255, 255, 0.5);
    }
    .Left_nav:hover > *:hover{
        color:#ffff;
    }
    .Right_nav {
        color: #fdc52c;
        display: flex;
        flex-direction: row;
        margin-left:auto;
    }
    .Right_nav .SubMenu a{
        color:#fdc52c;
        text-decoration: none;
        
    }
    .Right_nav:hover > *,.Right_nav:hover > #Shop a{
        color: rgba(255, 255, 255, 0.5);
    }
    .Right_nav:hover > *:hover,.Right_nav:hover > #Shop:hover a{
        color:#fdc52c;
    }
    .Search{
        padding-right: 0.5em;
        padding-left: 0.5em;
        border: 1px solid transparent;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        

    }
    .Search img{
        height: 4em;
    }
    .Search:hover{
        background-color: rgba(255, 255, 255, 0.1);;
    }

