---
const {logo, title, subtitle, bckgrnd_color} = Astro.props;
---
<div class="SocialMedia_Box">
    <img src={logo} alt="Social Media Logo">
    <p>{title}</p>
    <p>{subtitle}</p>
</div>
<style>

</style>