---
const {title} = Astro.props;
import FCBHeader from "../components/FCBHeader.astro";
import FCBFooter from "../components/FCBFooter.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body>
    <FCBHeader  /> 
    <main>
        <slot />
    </main>
    <FCBFooter/>
</body>
</html>