---
const {title} = Astro.props;
import FCBHeader from "../components/FCBHeader.astro";
import FCBFooter from "../components/FCBFooter.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="icon" type="image/png" href="https://assets.stickpng.com/images/584a9b3bb080d7616d298777.png"/>
</head>
<body>
    <FCBHeader/> 

        <slot />
    
    <FCBFooter/>
</body>
</html>

<style>
    body{
        margin: 0;
    }
</style>